[submodule "ws/deps/libserial"]
	path = ws/deps/libserial
	url = https://github.com/crayzeewulf/libserial
[submodule "ws/deps/proxsuite"]
	path = ws/deps/proxsuite
	url = https://github.com/Simple-Robotics/proxsuite
[submodule "ws/deps/invariant-ekf"]
	path = ws/deps/invariant-ekf
	url = https://github.com/CNR-STIIMA-IRAS/invariant-ekf.git
[submodule "ws/deps/unitree_sdk2"]
	path = ws/deps/unitree_sdk2
	url = https://github.com/unitreerobotics/unitree_sdk2
[submodule "ws/deps/matplotplusplus"]
	path = ws/deps/matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus
[submodule "ws/deps/fmt"]
	path = ws/deps/fmt
	url = https://github.com/fmtlib/fmt
[submodule "ws/deps/acados"]
	path = ws/deps/acados
	url = https://github.com/acados/acados
[submodule "ws/deps/osqp"]
	path = ws/deps/osqp
	url = https://github.com/osqp/osqp.git
[submodule "ws/deps/osqp-eigen"]
	path = ws/deps/osqp-eigen
	url = https://github.com/gbionics/osqp-eigen
[submodule "ws/deps/qpOASES"]
	path = ws/deps/qpOASES
	url = https://github.com/coin-or/qpOASES
[submodule "ws/deps/unitree_go"]
	path = ws/deps/unitree_go
	url = https://github.com/Unitree-Go2-Robot/unitree_go.git
