<?xml version="1.0"?>
<robot name="go2_ros2_control" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="joint_commands_topic" default="/joint_cmd"/>
  <xacro:arg name="joint_states_topic" default="/joint_states"/>

  <xacro:include filename="$(find quad_ros2_control)/urdf/quad_topic_based_system.ros2_control.xacro"/>

  <xacro:quad_topic_based_hardware
    name="go2_topic_based_system"
    joint_commands_topic="$(arg joint_commands_topic)"
    joint_states_topic="$(arg joint_states_topic)"
    trigger_joint_command_threshold="-1.0">
    <xacro:quad_topic_based_joint name="fl_abad"/>
    <xacro:quad_topic_based_joint name="fl_shoulder"/>
    <xacro:quad_topic_based_joint name="fl_knee"/>
    <xacro:quad_topic_based_joint name="fr_abad"/>
    <xacro:quad_topic_based_joint name="fr_shoulder"/>
    <xacro:quad_topic_based_joint name="fr_knee"/>
    <xacro:quad_topic_based_joint name="bl_abad"/>
    <xacro:quad_topic_based_joint name="bl_shoulder"/>
    <xacro:quad_topic_based_joint name="bl_knee"/>
    <xacro:quad_topic_based_joint name="br_abad"/>
    <xacro:quad_topic_based_joint name="br_shoulder"/>
    <xacro:quad_topic_based_joint name="br_knee"/>
  </xacro:quad_topic_based_hardware>
</robot>
